services:
  # Service Redis
  redis:
    image: redis:alpine
    container_name: tka-redis
    ports:
      - "6379:6379"
    restart: always

  # Service Gotenberg (PDF Converter)
  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: tka-gotenberg
    ports:
      - "3001:3000"
    restart: always
